services:
  ps-ss14-watchdog:
    build: .
    container_name: ${WATCHDOG_CONTAINER_NAME}
    hostname: ${WATCHDOG_HOSTNAME}
    volumes:
      - ${WATCHDOG_INSTANCES_PATH}:/app/instances
      - ${WATCHDOG_APPSETTINGS_PATH}:/app/appsettings.yml:ro
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URLS}
    restart: unless-stopped
    networks:
      - internal
      - external
    labels:
      com.docker.compose.project: "docker"

networks:
  internal:
    driver: bridge
    name: ${INTERNAL_NETWORK}
  external:
    external: true
    name: ${EXTERNAL_NETWORK}